html, body, div, img, span, a, table, tr, td { margin: 0; padding: 0;}
html, body { width: 100%; height: 100%; color: #fff; font-size: 14px; min-width: 320px; min-height: 400px; background: #000;}
.absolute { position: absolute;}
.relative { position: relative;}
.fixed { display: fixed;}
.pointer { cursor: pointer;}
.block { display: block;}
.inline { display: inline;}
.inblock { display: inline-block;}
.hidden { display: none;}
.screen { position: absolute; left: 0; top: 0; width: 100%; height:100%; overflow: hidden;}

@font-face {
	font-family: "ComicCustom";
	src: url("../fonts/comicsansms.ttf");
}